OBS_ENABLED=0
OBS_HOST=localhost
OBS_PORT=4455
OBS_PASSWORD=change_me
OBS_IMAGE_SOURCE_NAME=Meme
OBS_SCENE_NAME=Scene
OBS_OPACITY_FILTER_NAME=MemeOpacity

CAMERA_INDEX=0
CAMERA_WIDTH=1280
CAMERA_HEIGHT=720
CAMERA_WARMUP_FRAMES=8

ACTIVATION_DELAY_SECONDS=2.0
FADE_DURATION_SECONDS=0.8
REVEAL_DURATION_SECONDS=5.1
